# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<table class="DataTable">
    <thead>
        <tr>
[% RenderBlockStart("ContentLargeTicketResourcesOverviewHeaderStatus") %]
            <th>[% Translate(Data.Text) | html %]</th>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewHeaderStatus") %]
            <th class="QueueOverviewTotals">[% Translate("Total") | html %]</th>
        </tr>
    </thead>
    <tbody>
[% RenderBlockStart("ContentLargeTicketResourcesOverviewResourcesName") %]
        <tr class="Row">
            <td><a class="AsBlock" href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;OwnerIDs=[% Data.ResourceID | uri %]">[% Data.ResourceName | html %]</a></td>
[% RenderBlockStart("ContentLargeTicketResourcesOverviewResourcesResults") %]
            <td><a class="AsBlock" href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;[% Env("ChallengeTokenParam") | html %];StateIDs=[% Data.StateID | uri %];OwnerIDs=[% Data.OwnerID | uri %];[% Data.Sort | html %]">[% Translate(Data.Number) | html %]</a></td>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewResourcesResults") %]
[% RenderBlockStart("ContentLargeTicketResourcesOverviewResourcesTotal") %]
            <td><a class="QueueOverviewTotals AsBlock" href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;[% Env("ChallengeTokenParam") | html %];OwnerIDs=[% Data.OwnerID | uri %];[% Data.StateIDs | html %];[% Data.Sort | html %]">[% Translate(Data.Number) | html %]</a></td>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewResourcesTotal") %]
        </tr>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewResourcesName") %]
[% RenderBlockStart("ContentLargeTicketResourcesOverviewStatusTotalRow") %]
        <tr class="Row">
            <td class="QueueOverviewTotals">[% Translate("Total") | html %]</td>
[% RenderBlockStart("ContentLargeTicketResourcesOverviewStatusTotal") %]
            <td class="QueueOverviewTotals"><a class="AsBlock" href="[% Env("Baselink") %]Action=AgentTicketSearch;Subaction=Search;[% Env("ChallengeTokenParam") | html %];StateIDs=[% Data.StateID | uri %];[% Data.OwnerIDs | html %];[% Data.Sort | html %]">[% Translate(Data.Number) | html %]</a></td>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewStatusTotal") %]
            <td class="QueueOverviewTotals"></td>
        </tr>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewStatusTotalRow") %]
[% RenderBlockStart("ContentLargeTicketResourcesOverviewNone") %]
        <tr>
            <td colspan="[% Data.ColumnCount | html %]">
                [% Translate("none") | html %]
            </td>
        </tr>
[% RenderBlockEnd("ContentLargeTicketResourcesOverviewNone") %]
    </tbody>
</table>
